* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'PT Sans', sans-serif;
}


#container-nav {
    width: 100%;
    background-color: rgba(0, 132, 253, 255);
}

#col-nav {
    width: 100%;
    display: flex;
    justify-content: space-around;

}

#logo-nav {
    width: 50%;
    display: flex;
    justify-content: left;
    align-items: center;

}

#img-logo img {
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: left;
    margin-left: 0.3em;
}

.dropbtn {
    background-color: rgba(0, 132, 253, 255);
    color: white;
    padding: 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;

}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    /*  position: absolute;
    min-width: 160px; */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    branding text-decoration: none;
    display: block;
}


/** main - 1° Sezione */
.container-sec {
    width: 100%;
    /*  height: 30em; */

}

.row-sec-card {
    width: 100%;
    text-align: center;
    /* border: 1px solid black; */

}

/* 1° card */
.col-sec-card {
    margin: 12% 8%;
    border-radius: 2em;
    background-color: #b5ddff;
    position: relative;


}

.title-col-card {
    color: rgba(0, 132, 253, 255);
    line-height: 3rem;
    text-align: center;
}


.title-col-card h1 {
    margin-top: 5%;
}

.p-col-card {
    color: rgba(90, 110, 127, 255);
    line-height: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 1em;

}

.p-col-card p {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 0% 13% 10% 13%;

}

.button-col-card {
    color: rgba(90, 110, 127, 255);
    margin-bottom: 2.5em;
    margin-top: 1em;

}

.button-col-card button {
    width: 80%;
    background-color: rgba(0, 132, 253, 255);
    color: white;
    border-radius: 3em;
    border: none;
    padding: 3% 28%;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.button-col-card i {
    color: white;
    text-align: center;
    margin: 1%;
}

.img-col-card {
    width: 100%;

}


#img-phone {
    width: 80%;
    margin-bottom: -1%;
}

/* 2° card */
.title-sm-sec {
    color: rgba(0, 132, 253, 255);
}

.title-sm-sec i {
    font-size: 5rem;
    margin-top: 10%;
}

.title-sm-sec h1 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.p-col-sm-sec {

    padding-bottom: 2.5rem;

}

.p-col-sm-sec p {
    text-align: center;
    line-height: 2em;
    color: rgba(90, 110, 127, 255);
}

/** 2° Sezione Strategic */

.container-Strategic {
    width: 100%;
}

.row-Strategic {
    width: 100%;
    display: inline-block;
    padding-bottom: 3rem;
    background-color: rgba(151, 146, 228, 255);

}

/* 1° colonna */
.col-stategic {
    width: 100%;

}

/* .img-strategic1 {

}*/

.img-strategic1 img {
    width: 60%;
    margin: 12% 20% 12%;

}

.title-text {
    color: white;
    text-align: left;
    margin: 0% 10% 0%;
    line-height: 1.5rem;
}

.title-text h1 {
    text-align: center;
    margin: 0% 0% 10%;
}

.title-text p {
    padding: 2rem;
}

/* 2° colonna */
.col-stategic-app {
    width: 80%;
    margin: 0% 10% 0%;
    background-color: white;
    border-radius: 3.5em;


}

.title-text-app {
    color: black;
    margin: 0% 10% 0%;
    line-height: 1.5rem;
}

.title-text-app h1 {
    text-align: center;
    margin: 0% 0% 10%;
}

.title-text-app p {
    text-align: left;
    padding: 2rem;
}

.title-text-app i {
    width: 3rem;
    height: 3rem;
    margin: 0% 41% 10%;
    padding: 3%;
    font-size: 2rem;
    text-align: center;
    background-color: rgba(151, 146, 228, 255);
    border-radius: 100%;
    cursor: pointer;
}

/** 3° sezione testimonials */
.container-testim {
    width: 100%;

}

.row-testim {
    width: 100%;
    display: inline-block;
}

.text-top {
    width: 100%;
    text-align: center;
    margin: 3em 0em 3em;
}

/* .text-top h4 {} */

.text-top h1 {
    font-size: 3rem;
    margin: 0em 0em 0.50em;
    color: rgba(151, 146, 228, 255);
}

.text-top p {
    width: 60%;
    margin-left: 5rem;
    line-height: 2rem;

}

.col-testim {
    width: 80%;
    margin: 0% 10% 10%;
    background-color: rgba(151, 146, 228, 255);
    border-radius: 3em;
}

/*! NON MODIFICARE MAI (modificare solo il margin) */
.img-testim img {
    object-fit: cover;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin: 10% 20% 10%;
}

.titlefoot-text-testim {
    width: 80%;
    text-align: center;
    margin: 0% 10% 0%;
    color: white;
}

.titlefoot-text-testim p {
    line-height: 1.8rem;
    font-size: large;
    letter-spacing: 2px;

}

.titlefoot-text-testim i {
    color: white;
    font-size: x-large;
    width: 2rem;
}

.name-testim {
    padding: 8% 0% 13%;
    letter-spacing: 2px;
    word-spacing: 1px;
}

.name-testim {
    font-size: 1.3rem;
}

/** 4° sezione benefits */
.container-benefit {
    width: 100%;
    background-color: rgba(151, 146, 228, 255);

}

.row-benefit {
    width: 100%;
    padding-bottom: 5%;
}

.col-benefit {
    /* width: 80%;
    text-align: left; */
    background-color: white;
    border-radius: 1.5em;
    margin: 0% 10% 10%;
    padding: 10% 10% 0%;
}

.title-benefit {
    width: 100%;
    text-align: center;
    padding: 15% 0% 15%;
}

.title-benefit h1 {
    color: white;
    font-size: 2.5em;

}



.num-title {
    color: rgba(151, 146, 228, 255);

}

.num-title p {
    font-size: 4rem;
}

.num-title h3 {
    margin: 10% 0% 10%;
    font-size: 2rem;
}

.p-benefit {
    color: rgba(90, 110, 127, 255);

}

.p-benefit p {
    line-height: 1.5rem;
    letter-spacing: 1px;
    word-spacing: 2px;
    padding-bottom: 10%;
}

.button-benefit {
    padding: 2% 0% 15%;

}

.button-benefit button {
    padding: 6% 25% 6%;
    border-radius: 2em;
    border: none;
    color: white;
    background-color: rgba(151, 146, 228, 255);
    font-size: 1em;
    font-weight: bolder;
}

/** 5° sezione About Us */
.container-about {
    width: 100%;
}

.row-about {
    width: 100%;
}

.col-about {
    width: 100%;
    text-align: left;
}

.title-p-about {
    margin: 10% 10% 0%;
}

.title-p-about h1 {
quotation marks

    color: rgba(151, 146, 228, 255);
    padding: 10% 0% 10%;
    font-size: 3em;
}

.title-p-about p {
    line-height: 2rem;
    letter-spacing: 1px;
    word-spacing: 2px;
    padding-bottom: 10%;
    font-size: 1.155rem;
}

.img-testim-about {
    text-align: left;
    position: relative;
    color: rgba(151, 146, 228, 255);
}

.img-testim-about img {
    object-fit: cover;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin: 8% 10% 10%;
}

.img-testim-about span {
    font-size: 8rem;
    line-height: 1.42em;
    position: absolute;
    right:40%;
    top: 0%;
  
}

.img-testim-about p {
    width: 90%;
    font-size: 2.2rem;
    margin-left: 10%;
}

.button-about{
    padding: 10% 10% 20%;
}

.button-about button{
    padding: 5% 10% 5%;
    border-radius: 2em;
    border: none;
    color: white;
    background-color: rgba(151, 146, 228, 255);
    font-size: 2em;
    font-weight: bolder;
}

.button-about i {
    font-size: 1em;
}